<!--
    
-->
<html>
    <head>
        <title>PEOPLE AND CLOUDS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="stylesheets/css/56.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
        
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="http://d2v52k3cl9vedd.cloudfront.net/plangular/3.0.1/plangular.min.js"></script>
        
        <script>
                $(window).load(function() {
                $(".se-pre-con").fadeOut("slow");;
            });
        </script>
        
    </head>
    <body ng-app="app">
        <div class="se-pre-con"></div>
        <div class="home" id="go-away">
            <img src="assets/people-and-clouds.gif">
            <a href="#" id="goodbye"><button class="sc-control-btn" ng-click="play(index)" ng-show="player.playing == index"><i class="fa fa-play" aria-hidden="true" style="color:#fff;"></i></button></a>
        </div>
        <div class="iframe-container">
            <div class="iframe-width">
                <iframe src="1/index.html" class="post" id="myIframe"></iframe>
                <iframe src="2/index.html" class="post" id="myIframe"></iframe>
                <iframe src="3/index.html" class="post" id="myIframe"></iframe>
                <iframe src="4/index.html" class="post" id="myIframe"></iframe>
                <iframe src="5/index.html" class="post" id="myIframe"></iframe>
                <iframe src="6/index.html" class="post" id="myIframe"></iframe>
            </div>
        </div>
        <div class="sc-wrap">
            <div class="sc-player" plangular="https://soundcloud.com/yobialan/sets/people-clouds-ep">
                <div class="song-titles">{{track.title}}</div>
                <div class="sc-controls">
                    <button class="sc-control-btn" ng-click="play(index)" ng-show="player.playing == index"><i class="fa fa-play" aria-hidden="true"></i></button>
                    <button class="sc-control-btn" ng-click="pause(index)" ng-hide="player.playing == index"><i class="fa fa-pause" aria-hidden="true"></i></button>

                    <progress class="progress"ng-click="seek($event)" ng-value="currentTime / duration"></progress>
                    
                    <button class="sc-control-btn"><span ng-click="previous()" class="icon-prev" style="font-size:14px;color:#fff;"><i class="fa fa-fast-backward" aria-hidden="true"></i></span></button>
                    
                    <button class="sc-control-btn"><span ng-click="next()" class="icon-next" style="font-size:14px;color:#fff;"><i class="fa fa-fast-forward" aria-hidden="true"></i></span></button>
                    
                </div>
            </div>
        </div>
        <div class="social">
            <a href="mailto:yobi.alan@gmail.com" target="_blank" id="social-email" class="social-link"><i class="fa fa-envelope" aria-hidden="true" style="color:#fff;"></i></a>
            <a href="https://soundcloud.com/yobialan" target="_blank" id="social-soundcloud" class="social-link"><i class="fa fa-soundcloud" aria-hidden="true" style="color:#fff;"></i></a>
        </div>
        
        <script>
            var app = angular.module('app', ['plangular'])
              .config(function(plangularConfigProvider){
                plangularConfigProvider.clientId = 'aaeaff0e45f3c2d8bd4b3e0c0b99beab';
              });
        </script>
        <script>
            var $currentElement = $(".post").first();

            $(".icon-next").click(function () {
                var $nextElement = $currentElement.next('.post');
                // Check if next element actually exists
                if($nextElement.length) {
                    // If yes, update:
                    // 1. $currentElement
                    // 2. Scroll position
                    $currentElement = $nextElement;
                    $('html, body').stop(true).animate({
                        scrollTop: $nextElement.offset().top
                    }, 1000);
                }
                return false;
            });

            $(".icon-prev").click(function () {
                var $prevElement = $currentElement.prev('.post');
                // Check if previous element actually exists
                if($prevElement.length) {
                    // If yes, update:
                    // 1. $currentElement
                    // 2. Scroll position
                    $currentElement = $prevElement;
                    $('html, body').stop(true).animate({
                        scrollTop: $prevElement.offset().top
                    }, 1000);
                }
                return false;  
            });
        </script>
        <script>
            var $currentElement = $(".post").first();

            player.audio.addEventListener('ended', function(){
                $var $nextElement = $currentElement.next('.post');
                // Check if next element actually exists
                if($nextElement.length) {
                    // If yes, update:
                    // 1. $currentElement
                    // 2. Scroll position
                    $currentElement = $nextElement;
                    $('html, body').stop(true).animate({
                        scrollTop: $nextElement.offset().top
                    }, 1000);
                }
                return false;
            });
        </script>
        <script>
            $("audio").on("ended", function() {
                alert("Hello! I am an alert box!");
            });
        </script>
        <script>
            $('body').addClass('stop-scrolling')
        </script>
        <script>
            $( "#goodbye" ).click(function() {
                $( "#go-away" ).fadeToggle("slow");
            });
        </script>
        <script>
            $(".iframe-container").on('touchstart touchmove', function(e){
                 e.preventDefault(); 
            });
        </script>
    </body>
</html>